
  ul {
    display: flex;
    flex-direction: column; /* Display the list vertically */
    justify-content: center; /* Vertically center the list items */
    align-items: center; /* Horizontally center the list items */
  }
 
  button {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
  }
  
  button:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  button:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media {
    button {
      padding: 13px 50px 13px;
    }
  }

  footer{
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center the content */
    flex-direction: column; /* Display the list vertically */
    justify-content: center;
    font-family: 'Mooli';
  }